section.container div#anunciotablet{
    width:100%;
    float:left;
    text-align:center;
    color:#fff;
    background-color: #CB602F;
    padding:5px 0;
}

section.container article#conteudo h1{
    font-size:22px;
    color:#333333;
}


section.container article#conteudo p{
    color:#666666;
    font-size:18px;
}

section.container article#coluna h2{
    font-size:22px;
    color:#333333;
}

section.container aside#coluna p{
    font-size:18px;
    color:#666666;
}

section.container article#conteudo{
    width:60%;
    float:left;
}

section.container aside#coluna{
    width:35%;
    float:right;
}

@media screen and (max-width:992px) and (min-width:668px)
{

    section.container div#anunciotablet{
        display:block;
    }
}

@media screen and (max-width:667px)
{
    section.container div#anunciotablet{
        display:block;
    }
}

